.row {
  margin-bottom: 15px;
}
.row > div {
  border: 2px solid red;
  background-color: gray;
}
.img1 {
	height: 100px;
}
.center {
	display: flex;
	justify-content: center;
}
.stretch {
	/* height: 100%; */
	display: flex;
}
.btn1 {
	height: 70px;
	font-family: 'Bad Script', cursive;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 3px;
}
.obgortka {
	width: 100%;
	text-decoration: none !important;
}
.obgortka button {
	text-decoration: none;
}

	