html,body 
{
	height: 100%;
}
header
{
	background-color: rgba(200,100,100,0.6);
}

header .navbar-brand
{
	display: inline-block;
	margin-bottom: 15px;
}
header .navbar-brand img
{
	height: 60px;
	margin-right: 15px;
	float: left;
}
header .navbar-brand span 
{
	font-size: 20px;
	color: #222;
	height: 60px;
	line-height: 30px;
	font-weight: 600;
	
	color: #fff;
	display: inline-block;
	margin-top: 5px;
	font-family: 'Bad Script', cursive;
}

.navbar-toggle
{
	margin-top: 15px;
}

.navbar-header
{
	padding-bottom: 20px;
}

.navbar-default 
{
	background-color: transparent;
	border:none;
	border-radius: 0;
}

.navbar-nav
{
	float: right;
}

.navbar-default .navbar-nav > li > a 
{
	font-size: 15px;
	letter-spacing:1px;
	text-transform: uppercase;
	color: #fff;
}
.navbar-default .navbar-nav > li > span 
{
	color: #fff;
	font-size: 12px;
	padding-left: 15px;
}

.navbar-default .navbar-nav > li > a.tel 
{
	color: #FBBF30;
	font-size: 25px;
	font-weight: 600;
}

@media screen and (max-width: 768px)
{
	.navbar-nav
	{
		float: none;
		text-align: center;
	}
}

header .pre-title
{
	margin-top: 15%;
	margin-bottom: 20px;
	color: #eee;
	letter-spacing: 2px;
	text-transform:uppercase;
	text-align:center;
	font-size: 14px;
	
}
header h1 
{
	color: #f1f1f1;
	position: relative;
	text-align: center;
	font-size: 80px;
	letter-spacing: 2px;
}


