img {
	width: 250px;
}
.polyca{
	width: 100%;
    height: 400px;
	padding: 5px;
}
.mini {
	width: 80px;
}
.foto {
	float: left;
	margin-right: 5px;
}
.shuflada {
	width: 450px;
    height: 370px;
	border: 1px solid black;
	padding: 5px;
	float: left;
	margin:10px;
	background-color: white;
}
h2 {
	text-align: center;
}
p{
	text-indent: 3em;
}
h1 {
	margin-left: 25px;
	color: white;
}
.shafa {
	background-color: gray;
}
